<!doctype html>
<html>
<head>
  <!-- angular -->
  <script src="../../bower_components/angular/angular.min.js"></script>

  <!-- dropjs including tether -->
  <script src="../../bower_components/drop/drop.min.js"></script>
  <link href="../../bower_components/drop/css/drop-theme-arrows-bounce-dark.css" rel="stylesheet" />

  <!-- drop-ng -->
  <script src="../../src/drop-ng.js"></script>

  <!-- my application javascript-->
  <script>
    'use strict';

    var myapp = angular.module('myapp', ['drop-ng']);

    myapp.controller('mycontroller', function ($scope) {
      $scope.classes = 'drop-theme-arrows-bounce-dark';
      $scope.openOn = 'click';
      $scope.position = 'bottom center';
      $scope.someValue = 'This is a value from my controller';
      $scope.things = [{code: '1', name: 'one'},
                        {code: '2', name: 'two'},
                        {code: '3', name: 'three'},
                        {code: '4', name: 'quatro'}];
    });
  </script>

  <!-- my application styles -->
  <style>
    body {
      font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
      color: #333
    }
    button {
      margin-left:200px
    }
    .ng-hide {
      display: none !important;
    }
  </style>
</head>
<body ng-app="myapp">
  <h2>drop-ng example</h2>

  <div>
    <div ng-controller="mycontroller">
      <p>
        <span>
          drop-ng provides an Angular wrapper around Drop.js. <br/><br/>
          Drop.js is a Javascript and CSS library for creating dropdowns and other popups attached to elements on the page.
        </span>
      </p>

      <button>
        button text {{someValue}}

        <ul>
          <li ng-repeat="thing in things">button text {{thing.code}} - {{thing.name}}</li>
        </ul>

        <drop classes='classes'
              constrain-to-scroll-parent='constrainToScrollParent'
              constrain-to-window='constrainToWindow'
              open-on='openOn'
              position='position'>

            <div>
                Hello {{ $parent.someValue}}
              <br>

              <ul>
                <li ng-repeat="thing in $parent.things">{{thing.code}} - {{thing.name}}</li>
              </ul>
            </div>

        </drop>
      </button>

      <p>
        <span>
          Use the 'position' attribute to define the position of the popover:
        </span>
      </p>
      <p>
        <input type="radio" name="position" ng-model="position" value="top left"> Top left <br/>
        <input type="radio" name="position" ng-model="position" value="top center"> Top center <br/>
        <input type="radio" name="position" ng-model="position" value="top right"> Top right <br/>
        <input type="radio" name="position" ng-model="position" value="bottom left">  Bottom left <br/>
        <input type="radio" name="position" ng-model="position" value="bottom center"> Bottom center <br/>
        <input type="radio" name="position" ng-model="position" value="bottom right"> Bottom right <br/>
        <input type="radio" name="position" ng-model="position" value="left middle"> Left middle <br/>
        <input type="radio" name="position" ng-model="position" value="right middle"> Right middle <br/>
      </p>
    </div>
  </div>
</body>
</html>
