<!doctype html>
<html>
<head>
  <!-- angular -->
  <script src="../../bower_components/angular/angular.min.js"></script>

  <!-- dropjs including tether -->
  <script src="../../bower_components/tether/dist/js/tether.min.js"></script>
  <script src="../../bower_components/tether-drop/dist/js/drop.min.js"></script>
  <link href="../../bower_components/tether-drop/dist/css/drop-theme-arrows-bounce.css" rel="stylesheet" />
  <link href="../../bower_components/tether-drop/dist/css/drop-theme-arrows-bounce-dark.css" rel="stylesheet" />

  <!-- drop-ng -->
  <script src="../../src/drop-ng.js"></script>

  <!-- my application javascript-->
  <script>
    'use strict';

    var myapp = angular.module('myapp', ['drop-ng']);

    myapp.controller('mycontroller', function ($scope, $rootScope) {
      $scope.isChecked = false;
      $scope.highlightCheckBox = false;
      $scope.applyChanges = function(){
        console.log("in it");
        if ($scope.isChecked) {
          $scope.$broadcast("closeDrop");
        } else {
          $scope.highlightCheckBox = true;
        }
      };

    });
  </script>

  <!-- my application styles -->
  <style>
    body {
      font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
      color: #333;
    }

    button.launcher {
      margin-left: 200px;
    }

    .ng-hide {
      display: none !important;
    }

    .leave-space-for-drop {
      margin-top: 100px;
    }

    .highlight{
      color: darkred;
      font-weight: 700;
    }
  </style>
</head>
<body ng-app="myapp">
  <h2>drop-ng example</h2>

  <div ng-controller="mycontroller">
    <div>
      <p>
        <span>
          drop-ng provides an Angular wrapper around Drop.js. <br /><br />
          Drop.js is a Javascript and CSS library for creating dropdowns and other popups attached to elements on the page.
        </span>
      </p>
      <button class="launcher">
        Click me

        <drop  position="'bottom center'">

          <div>
            Check the box and click Apply Changes to close? <br/>
            <input id="confirmCheckBox" type="checkbox" ng-model="isChecked">I Agree <span class="highlight" ng-if="highlightCheckBox">*</span></input>
              <br/>
            <input id="applyChangesButton" type="submit" ng-click="applyChanges()" value="Apply Changes"></button>

          </div>

        </drop>
      </button>

      <p class="leave-space-for-drop">
        Events:
      </p>

      <div id="eventslog">
        <span ng-repeat="e in eventsList track by $index">{{e}}<br/></span>
      </div>
    </div>
  </div>
</body>
</html>
