<!doctype html>
<html>
<head>
  <!-- angular -->
  <script src="../../bower_components/angular/angular.js"></script>

  <!-- dropjs including tether -->
  <script src="../../bower_components/tether/dist/js/tether.min.js"></script>
  <script src="../../bower_components/tether-drop/dist/js/drop.min.js"></script>
  <link href="../../bower_components/tether-drop/dist/css/drop-theme-arrows-bounce-dark.css" rel="stylesheet" />

  <!-- drop-ng -->
  <script src="../../src/drop-ng.js"></script>

  <!-- my application javascript-->
  <script>
    'use strict';

    var myapp = angular.module('myapp', ['drop-ng']);

    myapp.controller('mycontroller', function ($scope, $timeout) {
      var vm = $scope.vm;
      vm.classes = 'drop-theme-arrows-bounce-dark';
      vm.openOn = 'click';
      vm.position = 'bottom center';
      vm.someValue = 'This is a value from my controller';
      vm.things = [];

      vm.loadOnDemand = function () {
        $timeout(function () {
          vm.things = [{ code: '1', name: 'one' },
                          { code: '2', name: 'two' },
                          { code: '3', name: 'three' },
                          { code: '4', name: 'quatro' }];
        }, 500);
      }

      vm.doSomething = function (name) {
        alert(name);
      }
    });
  </script>

  <!-- my application styles -->
  <style>
    body {
      font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
      color: #333;
    }

    button {
      margin-left: 200px;
    }

    .ng-hide {
      display: none !important;
    }

    .buttonAsLink {
      background: none !important;
      border: none;
      padding: 0 !important;
      /*border is optional*/
      border-bottom: 1px solid #444;
      cursor: pointer;
    }
  </style>
</head>
<body ng-app="myapp">
  <h2>drop-ng example</h2>

  <div>
    <div ng-controller="mycontroller as vm">
      <p ng-click="vm.doSomething(vm.someValue)">
        <span>
          drop-ng provides an Angular wrapper around Drop.js. <br /><br />
          Drop.js is a Javascript and CSS library for creating dropdowns and other popups attached to elements on the page.
        </span>
      </p>

      <button class="buttonAsLink" ng-click="vm.loadOnDemand()">
        Click to load contents on demand

        <drop classes='vm.classes'
              constrain-to-scroll-parent='vm.constrainToScrollParent'
              constrain-to-window='vm.constrainToWindow'
              open-on='vm.openOn'
              position='vm.position'>
          <div>
            Hello !
            <ul>
              <li ng-repeat="thing in vm.things">
                <a class="linkForControllerItem"
                   ng-click="vm.doSomething(thing.name)">
                  {{thing.code}} - {{thing.name}}
                </a>
              </li>
            </ul>
          </div>
          <drop>
      </button>

      <p>
        <span>
          Use the 'position' attribute to define the position of the popover:
        </span>
      </p>
      <p>
        <input type="radio" name="position" ng-model="vm.position" value="top left"> Top left <br />
        <input type="radio" name="position" ng-model="vm.position" value="top center"> Top center <br />
        <input type="radio" name="position" ng-model="vm.position" value="top right"> Top right <br />
        <input type="radio" name="position" ng-model="vm.position" value="bottom left">  Bottom left <br />
        <input type="radio" name="position" ng-model="vm.position" value="bottom center"> Bottom center <br />
        <input type="radio" name="position" ng-model="vm.position" value="bottom right"> Bottom right <br />
        <input type="radio" name="position" ng-model="vm.position" value="left middle"> Left middle <br />
        <input type="radio" name="position" ng-model="vm.position" value="right middle"> Right middle <br />
      </p>
    </div>
  </div>
</body>
</html>
